.wrapper {
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
    overflow: hidden;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}
.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}
.glyphicon {
    font-size: 50px;
}